# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

app/ragnar\ social/node_modules/
app/ragnar\ social/platforms/
app/ragnar\ social/plugins/
.idea/
